﻿@model AkademikAraştirmaÖdev.Areas.area.Models.Class1


@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/area/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <div class="col-md-8">

            <div class="panel panel-default">
                <div class="panel-heading"><svg class="glyph stroked email"><use xlink:href="#stroked-email"></use></svg> Kitap Ekleme</div>
                <div class="panel-body"> 
                           @using (Html.BeginForm("KitapAdd", "admin", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
                           {
        
                                 <!-- Name input-->
                            <div class="form-group">
                                @Html.LabelFor(m => m.kitapadı, new { @class = "col-md-3 control-label" })
                          
                                <div class="col-md-9">
                                    @Html.TextBoxFor(m => m.kitapadı,new  {@class = "form-control", placeholder = "kitap adı" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.kitaptürü, new { @class = "col-md-3 control-label" })

                                <div class="col-md-9">
                                    @Html.TextBoxFor(m => m.kitaptürü, new { @class = "form-control", placeholder = "kitap türü" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.kitapaçık, new { @class = "col-md-3 control-label" })

                                <div class="col-md-9">
                                    @Html.TextBoxFor(m => m.kitapaçık, new { @class = "form-control", placeholder = "kitap açiklaması" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.resim, new { @class = "col-md-3 control-label" })

                                <div class="col-md-9">
                                    @Html.TextBoxFor(m => m.resim, new { @class = "form-control", placeholder = "kitap yolu" ,Type="file"})
                                </div>
                            </div>
                           
                  

                            <div class="form-group">
                                <div class="col-md-12 widget-right">
                                    <button type="submit" class="btn btn-default btn-md pull-right">Kayıt</button>
                                </div>
                            </div>
                           }                                          
                </div>
            </div>
        </div>
    </div>
  
</div>
