﻿@model AkademikAraştirmaÖdev.kitap

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/area/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <div class="col-md-8">

            <div class="panel panel-default">
                <div class="panel-heading"><svg class="glyph stroked email"><use xlink:href="#stroked-email"></use></svg> Kitap Silme</div>
                <div class="panel-body">

                    Silmek istediğinize emin misiniz?
                    <br />
                    @Model.kitapadı;
                    <br />
                    @Html.ActionLink("Kabul ediyorum", "DeleteConfirm", new { id = Model.id })
                    <br />
                    @Html.ActionLink("Kabul etmiyorum", "Kitap")
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>
