﻿@model List<kitap>
@{
    ViewBag.Title = "kitap";
    Layout = "~/Areas/area/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">Kitapları görüntüle</div>
                <div class="panel-body">
                    <table data-toggle="table" data-url="tables/data1.json" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc">
                        <thead>
                            <tr>
                                <th>Kitap ID</th>
                                <th>Kitap Adı</th>
                                <th>Kitap Açıklaması</th>
                                <th>Kitap link</th>
                                <th>Kitap Tarihi</th>
                                <th>Kitap Türü</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.id</td>
                                    <td>@item.kitapadı  </td>
                                    <td>@item.kitapaçık  </td>
                                    <td>@item.kitaplink  </td>
                                    <td>@item.kitaptarihi   </td>
                                    <td>@item.kitaptürü   </td>
                                    <td>@Html.ActionLink("düzenle", "Edit", "admin",new {id=item.id }, null)| @Html.ActionLink("sil", "Delete", "admin", new { id = item.id }, null)  </td>
                                </tr>
                            }

                        </tbody>

                    </table>

                </div>
            </div>
        </div>
    </div>
   
</div>