﻿@{
    Layout = null;
}

<!DOCTYPE html>
@model List<kitap>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-8">
                <div class="panel panel-default">
                    @foreach (var item in Model)
                    {
                        <div class="panel-heading">
                            <h4>Felsefe</h4>
                        </div>
                        <div class="panel-body">
                       
                            @if (item.kitapyolu == null)
                            {
                                <img class="img-responsive" src="~/temaadm/resim/images (1).jpg" alt="@item.kitapadı" />
                            }
                            else
                            {
                                <img class="img-responsive" src="data:image/png;base64,@System.Convert.ToBase64String(item.kitapyolu)" alt="@item.kitapadı">
                            }
                            <p>@item.kitapaçık</p>
                            <a href=@item.kitaplink>indir</a>

                            <hr />

                          
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

</body>
</html>
