﻿@{
    ViewBag.Title = "Giriş";
}
@model List<kitap>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            
            <ol class="breadcrumb">
                <li>
                <li>@Html.ActionLink("AnaSayfa", "Giriş", "Home")</li>
                <li>@Html.ActionLink("Hakkimizda", "felsefe", "Home")</li>

                </li>
                <li class="active">Konular</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-md-4 portfolio-item">
            <a href="@Url.Action("SingleItem","Portfolio")">
                <img src="~/temaadm/resim/edebiyat.jpg" class="img-responsive">
            </a>
            <h3>
                @Html.ActionLink("Edebiyat", "SingleItem", "Portfolio")
            </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>
        <div class="col-md-4 portfolio-item">
            <a href="@Url.Action("SingleItem","Portfolio")">
                <img src="~/temaadm/resim/felsefe1.png" class="img-responsive">
            </a>
            <h3>
                @Html.ActionLink("Felsefe", "SingleItem", "Portfolio")
            </h3>
            <p>@</p>
        </div>
           @foreach (var item in Model)
                    {
                        <div class="panel-heading">
                            <h4>Felsefe</h4>
                        </div>
                        <div class="panel-body">
                       
                            @if (item.kitapyolu == null)
                            {
                                <img class="img-responsive" src="~/temaadm/resim/images (1).jpg" alt="@item.kitapadı" />
                            }
                            else
                            {
                                <img class="img-responsive" src="data:image/png;base64,@System.Convert.ToBase64String(item.kitapyolu)" alt="@item.kitapadı">
                            }
                            <p>@item.kitapaçık</p>
                            <a href=@item.kitaplink>indir</a>

                            <hr />

                          
                        </div>

        
    </div>
    <hr>    
</div>