﻿<!DOCTYPE html>

<html>
<head>
      
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
   

    <link href="~/temaadm/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/temaadm/css/datepicker3.css" rel="stylesheet">
    <link href="~/temaadm/css/styles.css" rel="stylesheet">
    <!--Icons-->
    <script src="~/temaadm/js/lumino.glyphs.js"></script>
 
       
    </head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Admin Panelindesiniz </a>
                <ul class="user-menu">
                    <li class="dropdown pull-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> SAyın: @User.Identity.Name <span class="caret"></span></a>
         
                        </ul>
                  
            </div>

        </div><!-- /.container-fluid -->
    </nav>

    <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
        <form role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
            </div>
        </form>
        <ul class="nav menu">
          
            <li><a href="~/Areas/area/Views/admin/Add.cshtml"><svg class="glyph stroked calendar"><use xlink:href="#stroked-calendar"></use></svg> Slider Ekle</a></li>
            <li><a href="~/Areas/area/Views/admin/kitap.cshtml"><svg class="glyph stroked line-graph"><use xlink:href="#stroked-line-graph"></use></svg> Tüm Slider</a></li>
            <li><a href="tables.html"><svg class="glyph stroked table"><use xlink:href="#stroked-table"></use></svg> Tables</a></li>
            <li><a href="forms.html"><svg class="glyph stroked pencil"><use xlink:href="#stroked-pencil"></use></svg> Forms</a></li>
  
            <li class="parent ">
                <a href="#">
                    <span data-toggle="collapse" href="#sub-item-1"><svg class="glyph stroked chevron-down"><use xlink:href="#stroked-chevron-down"></use></svg></span> Dropdown
                </a>
                <ul class="children collapse" id="sub-item-1">
                    <li>
                        <a class="" href="#">
                            <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Sub Item 1
                        </a>
                    </li>
                    <li>
                        <a class="" href="#">
                            <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Sub Item 2
                        </a>
                    </li>
                    <li>
                        <a class="" href="#">
                            <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Sub Item 3
                        </a>
                    </li>
                </ul>
            </li>
     
       
        </ul>
    </div><!--/.sidebar-->

   
       
  
	

    <div>
        @RenderBody() 
    </div>
    <script src="~/temaadm/js/jquery-1.11.1.min.js"></script>
    <script src="~/temaadm/js/bootstrap.min.js"></script>
    <script src="~/temaadm/js/chart.min.js"></script>
    <script src="~/temaadm/js/chart-data.js"></script>
    <script src="~/temaadm/js/easypiechart.js"></script>
    @RenderSection("jsplugins",false)
    @RenderSection("scripts", required: false)
    <script src="~/temaadm/js/easypiechart-data.js"></script>
    <script src="~/temaadm/js/bootstrap-datepicker.js"></script>
    <script src="~/temaadm/js/bootstrap-table.js"></script>

</body>
</html>
